# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules/*
.vscode
.idea/

# development config
**/.env

# testing
**/coverage

# production build staging
**/build
**/dist

**/public/locales

# misc
.DS_Store

newrelic_agent.log
